nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #333;
    color: white;
}

nav ul {
    display: flex;
    text-align: end;
    list-style: none;
    padding: 10px;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}