* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #333;
    color: white;
}

nav ul {
    display: flex;
    justify-content: end;
    list-style: none;
    padding: 10px;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

.slider-wrapper input[type="range"] {
    width: 500px;
    height: 6px;
    background: #ddd;
    border-radius: 3px;
}

.slider-wrapper input[type="range"]::-webkit-slider-thumb {
    width: 14px;
    height: 14px;
    background: #333;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -4px;
}

.slider-wrapper input[type="range"]::-moz-range-thumb {
    width: 14px;
    height: 14px;
    background: #333;
    border-radius: 50%;
    cursor: pointer;
}

.steps {
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    gap: 15px;
    padding: 8px 16px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 999px;

    z-index: 1000;
}


.step {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #e5e7eb;
    color: #6b7280;
    display: flex;
    align-items: center;
    justify-content: center;
}

.step.completed {
    background: #1D5970;
    color: white;
}

.step.active {
    background: #2A7B9B;
    color: white;
    transform: scale(1.3);
}