<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Persona generator{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% block extra_css %}{% endblock %}
</head>

<body>
    <!-- NAVIGATIE -->
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            {% if 'user_id' in session %}
            <li><a href="{{ url_for('stap1') }}">Nieuwe Persona</a></li>
            <li><a href="{{ url_for('personas') }}">Mijn Persona's</a></li>
            <li><a href="{{ url_for('logout') }}">Uitloggen</a></li>
            {% else %}
            <li><a href="{{ url_for('login') }}">Inloggen</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
            {% endif %}
        </ul>
    </nav>

    <!-- CONTENT -->
    <div class="content">
        {% block content %}{% endblock %}
    </div>

    {% if step is defined %}
    <div class="steps">
        <div class="step {% if step > 1 %}completed{% elif step == 1 %}active{% endif %}">1</div>
        <div class="step {% if step > 2 %}completed{% elif step == 2 %}active{% endif %}">2</div>
        <div class="step {% if step > 3 %}completed{% elif step == 3 %}active{% endif %}">3</div>
    </div>
    {% endif %}

    {% block extra_js %}{% endblock %}




</body>

</html>