<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <title>Persona Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <h1>Persona Generator</h1>
        {% if progress %}
        <div class="progress-bar">
            <div class="progress" style="width: {{ progress }}%;"></div>
        </div>
        {% endif %}
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>CMD Eindproject</p>
    </footer>
</body>

</html>