<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <title>Inloggen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='aanmeld.css') }}">
</head>

<body>
    <div class="intro">
        <h1>Welkom bij de Persona Generator!</h1>
        <p>Bouw en beheer persona's voor je projecten <br> en maak de doelgroep visueel.</p>
    </div>
    <div class="info-container">
        <form method="POST" class="info-kaart">
            <h2>Inloggen</h2>
            <p class="tekst">Login om je gemaakte persona's te bekijken</p>
            <div class="form-groep">
                <label>Gebruikersnaam</label>
                <input name="username" placeholder="Gebruikersnaam" required>
            </div>

            <div class="form-groep">
                <label>Wachtwoord</label>
                <input name="password" type="password" placeholder="Wachtwoord" required>
            </div>

            <button type="submit">Login</button>

            <p class="verwijs">Nog geen account? <a href="/register">Account maken</a></p>
        </form>
    </div>

</body>

</html>