{% extends "base.html" %}

{% block content %}
<h2>Alle opgeslagen persona's</h2>

{% if personas %}
<table border="1" cellpadding="5" cellspacing="0">
    <thead>
        <tr>
            <th>ID</th>
            <th>Naam</th>
            <th>Geslacht</th>
            <th>Leeftijd</th>
            <th>Doelen</th>
            <th>Frustraties</th>
            <th>School/studie</th>
            <th>Werk</th>
            <th>Extravert</th>
            <th>Creatief</th>
            <th>Intuïtief</th>
            <th>Stressgevoelig</th>

        </tr>
    </thead>
    <tbody>
        {% for p in personas %}
        <tr>
            <td>{{ p.naam }}</td>
            <td>{{ p.geslacht }}</td>
            <td>{{ p.leeftijd }}</td>
            <td>{{ p.doelen }}</td>
            <td>{{ p.frustraties }}</td>
            <td>{{ p.school }}</td>
            <td>{{ p.werk }}</td>
            <td>{{ p.extravert }}/5</td>
            <td>{{ p.creatief }}/5</td>
            <td>{{ p.intuitief }}/5</td>
            <td>{{ p.stress }}/5</td>

        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>Er zijn nog geen persona's opgeslagen.</p>
{% endif %}

<br>
<a href="{{ url_for('stap1') }}"><button>Nieuwe persona maken</button></a>
{% endblock %}