{% extends "base.html" %}

{% block content %}
<div class="form-container">
    <div class="form-binnenkant">
        <h2>Stap 1: Persoonlijke info</h2>
        <form method="POST">
            <!-- Naam -->
            <div class="groep">
                <label for="naam">Naam:</label>
                <input type="text" id="naam" name="naam" required value="{{ session.get('naam', '') }}">
            </div>

            <!-- Leeftijd -->
            <div class="groep">
                <label for="leeftijd">Leeftijd:</label>
                <input type="number" id="leeftijd" name="leeftijd" min="0" max="100" required
                    value="{{ session.get('leeftijd', '') }}">
            </div>

            <!-- Geslacht -->
            <div class="groep">
                <label>Geslacht:</label>
                <div class="gender-buttons geslacht">
                    <label>
                        <input type="radio" name="geslacht" value="man" required {% if session.get('geslacht')=='man'
                            %}checked{% endif %}>
                        Man
                    </label>
                    <label>
                        <input type="radio" name="geslacht" value="vrouw" {% if session.get('geslacht')=='vrouw'
                            %}checked{% endif %}>
                        Vrouw
                    </label>
                    <label>
                        <input type="radio" name="geslacht" value="non-binair" {% if
                            session.get('geslacht')=='non-binair' %}checked{% endif %}>
                        Non-binair
                    </label>
                </div>
            </div>

            <button type="submit">Volgende</button>
        </form>
    </div>
</div>
{% endblock %}