{% extends "base.html" %}
{% set progress = 100 %}

{% block content %}
<h2>Stap 3: Doelen & Persoonlijke eigenschappen</h2>

<form method="POST">
    <!-- Doelen -->
    <label for="doelen">Doelen:</label><br>
    <textarea id="doelen" name="doelen" required>{{ session.get('doelen', '') }}</textarea>
    <br><br>

    <!-- Frustraties -->
    <label for="frustraties">Frustraties:</label><br>
    <textarea id="frustraties" name="frustraties" required>{{ session.get('frustraties', '') }}</textarea>
    <br><br>

    <!-- Persoonlijke eigenschappen -->
    <label>Persoonlijke eigenschappen:</label><br><br>

    <div class="slider-wrapper">
        <label class="slider-label-left">Introvert</label>
        <input type="range" min="1" max="5" value="{{ session.get('extravert', 3) }}" name="extravert"
            oninput="this.nextElementSibling.innerText = this.value">
        <label class="slider-label-right">Extravert</label>
        <span class="slider-value">{{ session.get('extravert', 3) }}</span>
    </div>

    <div class="slider-wrapper">
        <label class="slider-label-left">Praktisch</label>
        <input type="range" min="1" max="5" value="{{ session.get('creatief', 3) }}" name="creatief"
            oninput="this.nextElementSibling.innerText = this.value">
        <label class="slider-label-right">Creatief</label>
        <span class="slider-value">{{ session.get('creatief', 3) }}</span>
    </div>

    <div class="slider-wrapper">
        <label class="slider-label-left">Analytisch</label>
        <input type="range" min="1" max="5" value="{{ session.get('intuitief', 3) }}" name="intuitief"
            oninput="this.nextElementSibling.innerText = this.value">
        <label class="slider-label-right">Intuïtief</label>
        <span class="slider-value">{{ session.get('intuitief', 3) }}</span>
    </div>

    <div class="slider-wrapper">
        <label class="slider-label-left">Rustig</label>
        <input type="range" min="1" max="5" value="{{ session.get('stress', 3) }}" name="stress"
            oninput="this.nextElementSibling.innerText = this.value">
        <label class="slider-label-right">Stressgevoelig</label>
        <span class="slider-value">{{ session.get('stress', 3) }}</span>
    </div>

    <br>
    <button type="submit">Voltooien</button>
</form>
{% endblock %}